.note {
	min-height: 150px;
	min-width: 150px;
	padding: 1rem;
	width: 8rem;
	cursor: pointer;

}

.active {
    outline: 2px solid rgb(173, 186, 230);
    outline-offset: 0.3em;
}

.hidden {
	display: none;
}

.bg-washed-violet {
	background-color: #ec9bff; 
}
.bg-washed-yellow {
	background-color: #f3f06e; 
}
.bg-washed-red {
	background-color: #ffc6c6;
}
.bg-washed-blue {
	background-color: #99e2ff;
}

textarea {
	min-height: 150px;
	background: none;
    width: 100%;
    display: block;
	overflow: hidden;
	resize: none;
	border: none;
	outline: none;
	padding: 0;
	font-family: sans-serif;
    letter-spacing: 0.025em;
    font-size: 1em;
}

p {
	margin: 0;
	width: 100%;
	white-space: pre-wrap;
	overflow: hidden
	/*word-break: break-all;*/
}