.note {
	min-height: 100px;
}

.active {
    outline: 2px solid lightblue;
}

.hidden {
	display: none;
}

textarea {
	background: none;
    width: 100%;
    display: block;
	overflow: hidden;
	resize: none;
	border: none;
	outline: none;
}

p {
	margin: 0;
	width: 100%;
	word-break: break-all;
}