.note {
	min-height: 150px;
	min-width: 150px; 
}

.active {
    outline: 2px solid lightblue;
    outline-offset: 0.3em;
}

.hidden {
	display: none;
}

textarea {
	background: none;
    width: 100%;
    display: block;
	overflow: hidden;
	resize: none;
	border: none;
	outline: none;
	padding: 0;
}

p {
	margin: 0;
	width: 100%;
	word-break: break-all;
}